.Header {
    background-color:transparent;
    background-image:linear-gradient(to bottom, rgba(215,215,215),rgba(220,220,220,0.1));
    position:sticky;
    top:0;
    display:flex;
    justify-content: flex-end;
}
.Logo{
    height: 100px;
    width:100px;
    margin-right: auto;
}
.Item{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    background-color:rgba(16,212,142,0.6);
    padding: 10px;
    border-radius: 30%;
}