.SearchbarDIV{
    display: block;
    float: right;
}
.Input{
    width: 50%;
    margin-left: auto;
    font-size:25px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid ;
    margin-top:10px;
    font-size: 'Visby Heavy';
    background-color:transparent;
}
.Button{
    padding: 12px;
    margin-right: auto;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid ;
    border-radius:none;
}
.Button:hover{
    background-color:rgba(215,215,215)
}
@media screen and (max-width: 550px) {
    .SearchbarDIV{}

}  